<html>
  <head>
    <meta charset="utf-8">
    <title>Template</title>
  </head>
  <body>
      <p>hi</p>
      <form class="" action="/results" method="post">
          <input type="text" name="input" value="">
          <button type="submit" name="button"></button>
      </form>


  </body>
</html>
